[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
pyyaml = "*"
"7726717" = {path = "../jenkins-job-builder/", editable = true}


[requires]

# cru-ansible uses python 2.7
python_version = "2.7"
